<div>
<div class="pane-head">
    <!--<button type="button" class="close" data-ng-click="panels.close();">×</button>-->
    <a ng-href="/">X</a>

</div>

<div class="pane-body">


    <div class="text-center" class="form-group">

        <div>
            <p>Panel</p>
        </div>

        <div  class="row">

            <div class="col-md-1 col-md-offset-3">
                <!--<h3>HL7 Version</h3>-->
                <!--<p>Selected: {{event.selected.name}}</p>-->
                <ui-select ng-model="std.selected" theme="selectize" ng-disabled="disabled" style="width: 250px;" on-select="setStandards(std.selected)">
                    <ui-select-match placeholder="HL7 Standards">{{$select.selected.std}}</ui-select-match>
                    <ui-select-choices repeat="std in standards | filter: $select.search" refresh="setEvents($select.search)" refresh-delay="0">
                        <span ng-bind-html="std.std | highlight: $select.search"></span>
                        <!--<small ng-bind-html="event.code | highlight: $select.search"></small>-->
                    </ui-select-choices>
                </ui-select>
            </div>

        </div>

        <div class="row" ng-controller="navigation">

            <h3>Load Factor <button type="button" class="btn btn-sm btn-primary" ng-click="random()">Step</button></h3>
            <uib-progressbar  max="max" value="step"><span style="color:white; white-space:nowrap; width:350px;">{{step}} / {{max}}</span></uib-progressbar>
<!--             <small><em>Object (changes type based on value)</em></small>
            <uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}} <i ng-show="showWarning">!!! Watch out !!!</i></uib-progressbar>

            <small><em>Object (changes type based on value)</em></small>
            <uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}"><span style="color:white; white-space:nowrap;">{{dynamic}}% load for optional segments</span></uib-progressbar>
 -->
        </div>
    </div>


    <!--<div class="row">Panel</div>-->
</div>
</div>