/* cloak */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.ack-area {
    /*width: 100%;*/
    /*height: auto;*/
    white-space:pre;
    word-break: break-all;/*break-word;*/
}

